@use '@/styles/colors.scss';

.output__date {
    width: 100%;
    font-size: clamp(3.5rem, 2.972rem + 2.254vw, 5rem);
    font-weight: 800;
    font-style: italic;
    line-height: 1.2;

    &-value {
        color: colors.$purple;
    }

    @media (max-width: 374px) {
        font-size: 3.1rem;
    }
}