@use "@/styles/colors";

main {
    width: 100%;
    max-width: 38rem;
    padding: 3em 1.5em;
    border-radius: 20px 20px 100px 20px;
    background-color: colors.$offWhite;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    border: 0;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
}

.input {
    display: flex;
    gap: clamp(0.8rem, 0.554rem + 1.052vw, 1.5rem);
}

.output {
    width: 100%;
}

@media (min-width: 768px) {
    main {
        padding: 2.5em 3em;
    }
}
  